.home-page{
    display:grid;
    grid-template-areas:
    "navbar navbar"
    "main main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    padding: 1rem 2rem;
    width:1280px;
    background: linear-gradient(180deg, #2a1f4a 0%, #3d2f5f 50%, #2a1f4a 100%);
}

.main-content{
    grid-area: main;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:30rem;
}

.nav-tab {
  grid-area:navbar;
  display:flex;
  justify-content: center;
  align-items: center;       
  gap:10px;                              
  color: white;
  padding-left:30rem;
  background-color: rgb(#2a1f4a)
}

.nav-tab a {
    color: white;        
    text-decoration: none;
    font-weight: 500;
}

.nav-tab a:hover {
    color: #c9a0ff;       
}

.search-container{      
    display:flex;
    place-self: center;   

}
.search-container input{
    flex:1;
    width:500px;
    height:50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-style:none;
    background-color: white;
    color:black;
}

.search-button{   
    margin-left:10px;
    height:50px;
    position:absolute;
    font-size: 15px;   
    background-color: rgb(107, 85, 235);
}


.favorites {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 280px;
    height: 100%;
    background: rgba(0,0,0,0.9);
    color: white;
    padding: 2rem 1rem;
    box-shadow: 3px 0 10px rgba(0,0,0,0.5);
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 2000; 
}

.favorites.open {
    left: 0; 
}


.favorites-toggle {
    background: rgb(107, 85, 235);
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    width:200px;
    margin-left:4rem;
    margin-top:50px;
}

.favorites-toggle:hover {
    background: rgb(89, 70, 210);
}

.favorite{
    display:flex;
    flex-direction: column;
    gap:25px;
}

.favo-item{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.movie-list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    padding-top:5rem;
}
.movie-card {
    width: 300px; 
}

.movie-card img {
    width:250px;   
    height:350px;    
    border-radius: 8px; 
}

.movie-card h3{
    font-size: 12px;   
    justify-self:center;
}

.movie-card button{
    margin-left:50px;
    background-color: rgb(107, 85, 235);
}

.movie-card a{
    color:white;
}

.home-page h1{
    display:flex;
    font-size: 30px;
    place-self:center;
    top:14rem;
}